<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516188255616-okk06eq8h7qkq6t5d34n73ori366qhr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516188255616-okk06eq8h7qkq6t5d34n73ori366qhr0</string>
	<key>API_KEY</key>
	<string>AIzaSyBV3_qxxwvAuGmF6l7_YNKyOG3q8W35mHg</string>
	<key>GCM_SENDER_ID</key>
	<string>516188255616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gridgram</string>
	<key>PROJECT_ID</key>
	<string>digica-9a4c4</string>
	<key>STORAGE_BUCKET</key>
	<string>digica-9a4c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516188255616:ios:f9a390fbf13c824fe9fd65</string>
</dict>
</plist>